.container {
  margin: 1rem;
  min-height: 25vh;
  position: relative;
}

.quill {
  margin-top: 1rem;
}

.submit {
  border: 0;
  color: white;
  border-radius: 50px;
  padding: 0.3rem 2rem;
  background-color: #ff99cf;
  position: absolute;
  right: 0;
  bottom: 0;
}
