.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
  /* 각 페이지 버튼 사이의 간격 조정 */
}

.pagination button {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #f0f0f0;
}