.container {
  display: flex; /* Flexbox를 사용하도록 설정 */
  justify-content: center; /* 가로 방향으로 중앙 정렬 */
  align-items: center;
}


.box1 {
  float: left;
  width:450px; 
  height:450px; 
  border:1px solid rgb(0, 0, 0);
  background-color: rgb(255, 230, 161);
  margin-top: 30px;
}

.box2 {
  float: left;
  width:450px; 
  height:450px; 
  border:1px solid rgb(0, 0, 0);
  background-color: rgb(255, 230, 161);
  margin-top: 30px;

}

.logo {
  width: 150px;
  height: 150px;
  margin-left: 35%;
  margin-top: 30px;
  margin-bottom: 30px;
}


.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.inputbox {
  text-align: center;

}

.inputboxsize {
  width: 300px;
  height: 30px;
  margin: 5px;
}

.selectboxsize {
  width: 308px;
  height: 34px;
  margin: 5px;
}