.description {
  display: flex;
  flex-direction: column;
  margin-top: 6%;
  padding-right: 3rem;
}

.pageContainer {
  min-height: 100vh;
  position: relative;
  padding-top: 4rem;
}
.secimg {
  display: flex;
  justify-content: center;
}

.slogan {
  display: flex;
  justify-content: flex-end;
  color: #808080;
  font-size: 24px;
  font-weight: lighter;
}

.title {
  font-size: 48px;
  font-weight: 900;
  color: #4bb750;
  margin-bottom: 5vh;
  display: flex;
  justify-content: flex-end;
}

.teddy {
  height: 250px;
  position: absolute;
  bottom: 0%;
  left: 50;
}

/* .sp3 {
  font-weight: lighter;
  color: #4bb750;
} */
