.slick-prev,
.slick-next,
.slick-vid-next,
.slick-vid-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  transform: translate(0, -50%);
  display: block;

  cursor: pointer;

  z-index: 1;
}

.slick-next,
.slick-prev {
  width: 30px;
  height: 30px;
  padding: 0;
  top: 40%;
  color: transparent;
  border: none;
  outline: none;
}

.slick-vid-next,
.slick-vid-prev {
  position: absolute;
  width: 30px;
  height: 180px;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.slick-next,
.slick-vid-next {
  right: 0;
}

.slick-prev,
.slick-vid-prev {
  left: 0;
}
